.navigation {
    display: flex;
    position: absolute;
    left: -4.5vw;
    bottom: 2%;
    flex-direction: column;
}

.navigation-button {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 8px 10px 8px 8px;
    width: 8vw;
    height: 50px;
    place-items: center;
    border: 2px solid midnightblue;
    border-radius: 50px 0 0 50px;
    filter: drop-shadow(2px 4px black);
    background-color: white;
    word-spacing: 20px;
    font-weight: bold;
    font-size: 0.8vw;
    color: white;
    left: 0;
    transition: left ease-out 0.5s;
}

.navigation-button:not(.selected):hover{
    left: -5vw;
    text-decoration-line: underline;
}

.navigation-icon {
    width: 50px;
}

.navigation-button.selected {
    left: -5vw;
}

.border-blocker {
    z-index: 5;
    width: 3px;
    height: 66px;
    position: absolute;
}

.link-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    left: 89vw;
}
.link-button {
    display: flex;
    position: relative;
    flex-direction: row;
    align-self: flex-start;
    overflow: hidden;
    width: 45px;
    height: 45px;
    margin: 10px;
    padding: 8px;
    place-items: center;
    border: 2px solid darkslategrey;
    border-radius: 25px;
    filter: drop-shadow(2px 4px black);
    color: white;
    font-weight: bold;
    font-size: 0.75vw;
    transition: width ease-out 0.5s, left ease-out 0.5s;
}


.link-icon{
    width: 45px;
    margin-right: 8px;
}

.link-button:hover{
    width: 120px;
    text-decoration-line: underline;
}